* { 
    margin: 0;
    padding: 0;
    overflow:hidden;
}
body {
    background-image: url("../images/dogs_keyboard.jpg");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}
.contentBox { 
    text-align: center;
    padding: 200px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    animation-name: TopIn;
    animation-duration: 3s;
}
.subText { 
    opacity: 0%;
    animation-name: FadeIn;
    animation-duration: 1s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
}
.inside {
    border:2px solid white;
    width: 200px;
    margin: auto;
}
.inside:hover { 
    animation-name: Expand;
    animation-fill-mode: forwards;
    animation-duration: 3s;
    transition-property: transform;
    transition-duration: 3s;
}
.inside:not(:hover)
{
    animation-name: Collapse;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    transition-property: transform;
    transition-duration: 3s;
}
.contacts { 
    text-align: center;
    position: absolute;
    bottom: 224px;

}
@keyframes TopIn { 
    0% { 
        top:-500px;
    }
    100% { 
        top:0px;
    }
}
@keyframes FadeIn { 
    0% { 
        opacity: 0%;
    }
    100% { 
        opacity: 100%;
    }
}
@keyframes Expand { 
    0% { 
        height: 100px;
    }
    100% { 
        height: 150px;
    }
}
@keyframes Collapse { 
    0% { 
        height: 150px;
    }
    100% { 
        height: 100px;
    }
}